<div class="container">
<h1>Employee List</h1>

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Employee ID</th>
      <th>Salary</th>
      <th>Action</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" class="form-control" ng-model="ac.employees.first_name" placeholder="John"></td>
      <td><input type="text" class="form-control" ng-model="ac.employees.last_name" placeholder="Doe"></td>

      <td><input type="text" class="form-control" ng-model="ac.employees.title" placeholder="Title"></td>
      <td><input type="number" class="form-control" ng-model="ac.employees.employee_id" placeholder="Employee ID Number"></td>
      <td><input type="number" class="form-control" ng-model="ac.employees.salary" placeholder="Salary"></td>

      <td><button class="btn btn-primary" ng-click="ac.addEmployee()">Add Employee</button></td>
    </tr>
    <tr ng-repeat="em in ac.employees">

      <td>{{em.first_name}}</td>
      <td>{{em.last_name}}</td>
      <td>{{em.title}}</td>
      <td>{{em.employee_id}}</td>
      <td>{{em.salary}}</td>

      <td><button class="btn btn-danger" ng-click="em.removeEmployee(id)">Remove</button></td>
      <td><button class="btn btn-warning" ng-click="em.editEmployee(id)">Edit</button></td>
    </tr>
  </tbody>
</table>

</div>


</body>
